
.wbnes{
    text-align: center;
    padding-bottom:10px;
}
.zw h1{
    padding: 13px;
}
.zw img{
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}
.zw{
    line-height: 30px;
    font-size: 14px;

}